
<mat-grid-list cols="3">
  <mat-grid-tile></mat-grid-tile>
  <mat-grid-tile>
    <mat-card>
      <app-formulario></app-formulario>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>

<mat-grid-list cols="3" *ngIf="usersArray.length >0">
  <mat-grid-tile *ngFor="let user of usersArray">
    <mat-card>
      <mat-list>
        <mat-list-item>{{user.name}}- 1</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>{{user.email}}- 2</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>{{user.phone}}- 3</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <button mat-raised-button color="primary" (click)="deleteUser(user)">delete</button>
        </mat-list-item>
      </mat-list>
    </mat-card>
  </mat-grid-tile>
  
</mat-grid-list>